.counter-frames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.counter-frame {
    .counter-frame-count {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        margin-right: 10px;
        color: var(--yellow);
    }
    .counter-frame-text {
        font-size: 1rem;
        color: #fff;
    }
}