.cursor {
    display: inline-block;
    width: 1px;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
  }
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }