.info-bar {
    background: #20202a;
    width: 290px;
    min-width: 290px;
    height: calc(100vh - 30px);
    position: fixed;
    z-index: 999;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
    transition: .55s ease-in-out;
}