.css-18x04i7-MuiCircularProgress-root {
    color: var(--yellow) !important;
    width: 55px !important;
    height: 55px !important;
}

.css-mlv3xz-MuiTypography-root {
    color: #8c8c8e !important;
}
